deepspeed==0.13.5
einops==0.8.0
lmdb==1.4.1
matplotlib==3.7.1
networkx==3.1
numpy==1.24.3
opencv_python==4.7.0.72
Pillow==11.0.0
pyxDamerauLevenshtein==1.7.1
tensorboardX==2.6.2.2
torch==2.0.1+cu118
tqdm==4.65.0
transformers==4.35.2
xformers==0.0.22
